@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "VNI-Butlong";
  src: url("./assets/fonts/VNI-Butlong.woff2") format("woff2"),
    url("./assets/fonts/VNI-Butlong.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "VNI-Briquet";
  src: url("./assets/fonts/HLSlapstickComic.woff2") format("woff2"),
    url("./assets/fonts/HLSlapstickComic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "VNI-THUPHAPTHANHCONG";
  src: url("./assets/fonts/UVNButLong1.woff2") format("woff2"),
    url("./assets/fonts/UVNButLong1.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.ant-popconfirm-buttons {
  display: flex;
  justify-content: center;
}

.ant-card-body {
  background-color: #ccc;
}

.bft-light hr {
  margin-top: 6px !important;
}
